
/* - - - - - - - - - - || IMPORT FONTS || - - - - - - - - - - */

/* Source Code Font */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* Poppins (Regular) Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Poppins (Bold) Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Poppins (Black) Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

/* - - - - - - - - - - || GENERAL || - - - - - - - - - - */
body
{
    font-family: 'Poppins', sans-serif;
}

/* Reset row values */
.row
{
    margin: 0;
    padding: 0;
}

/* - - - - - - - - - - || COLUMN #001 && ABOUT BLOCK || - - - - - - - - - - */
.column_001
{
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #212121;

    display: flex;
    align-items: center;
    justify-content: end;
}

/* Green paint */
.main_img
{
    top: -50px;
    padding: 0;
    width: 100%;
    position: absolute;
}

/* White block */
.about_block
{
    width: 100%;
    height: 500px;
    padding: 30px;

    border-top-left-radius: 16px;
    box-shadow: 0px 6px #212121;
    border-top: solid 2px #212121;
    border-bottom-left-radius: 16px;
    border-left: solid 2px #212121;
    border-bottom: solid 2px #212121;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* - - - - - || ICON || - - - - - */
.main_text
{
    line-height: 1;
    font-size: 20px;
    color: #212121;
}

/* <div> Icon */
.div_icon
{
    width: 12%;
}

/* DEYBEAR (Black) */
.title_text_v1
{
    font-size: 60px;
    color: #212121;
    margin-bottom: 0;
    font-weight: 900;
}

/* DEYBEAR (Green) */
.title_text_v2
{
    font-size: 60px;
    color: #CFFF46;
    margin-bottom: 0;
    font-weight: 900;
    text-shadow: 3px 3px #212121;
    -webkit-text-stroke: 1.3px #212121;
}

/* - - - - - || DATE || - - - - - */
#current_day
{
    font-size: 16px;
    font-weight: 700;
    color: #212121;
    margin-right: 5px;
}

#current_date
{
    font-size: 16px;
    color: #212121;
}

/* - - - - - || STATUS || - - - - - */
.status_container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Counter blocks */
.status_block
{
    display: flex;
    margin-top: 20px;
    align-items: center;
    border-radius: 40px;
    border: solid 2px #212121;
    padding: 10px 15px 10px 10px;
    box-shadow: 3px 3px #212121;
    justify-content: space-between;
}

.status_block div
{
    display: flex;
}

.status_block span
{
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    margin-left: 10px;
}

.status_block p
{
    margin: 0;
    font-size: 16px;
}

/* - - - - - || CLEAN || - - - - - */
#clean_btn
{
    display: flex;
    color: #212121;
    align-items: center;
    border-radius: 40px;
    background: #CFFF46;
    padding: 10px 15px 10px 10px;
    justify-content: space-between;
}

#clean_btn i
{
    color: #212121;
    margin-right: 10px;
}

#clean_btn p
{
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

/* Buttom description */
.clean_container
{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.clean_message p
{
    margin: 0;
    font-size: 10px;
}

/* - - - - - - - - - - || COLUMN #002 && TASK BLOCK || - - - - - - - - - - */
.column_002
{
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #FFFFFF;

    /*background: #212121;*/

    
    background: url(../img/bg_column.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

    display: flex;
    align-items: center;
    justify-content: start;
}

/* Black block */
.task_block
{
    width: 100%;
    height: 500px;
    padding: 30px;

    background: #212121;
    border-top-right-radius: 16px;
    box-shadow: 0px 6px #FFFFFF;
    border-top: solid 2px #FFFFFF;
    border-bottom-right-radius: 16px;
    border-right: solid 2px #FFFFFF;
    border-bottom: solid 2px #FFFFFF;
}

.task_header
{
    display: flex;
    align-self: center;
}

.task_header h5
{
    font-weight: 700;
}

/* - - - - - - - - - - || SET TASK || - - - - - - - - - - */
.add_container
{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

#add_input
{
    width: 75%;
    height: 40px;
    border: none;
    padding: 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#add_btn
{
    width: 25%;
    height: 40px;
    border: none;
    color: #212121;
    font-weight: bolder;
    background: #CFFF46;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#add_btn:hover
{
    transition: .5s;
    color: #FFFFFF;
    background: #616161;
}

/* - - - - - - - - - - || GET TASK || - - - - - - - - - - */
#task_container
{
    width: 100%;
    height: 280px;
    margin-top: 30px;
    overflow-y: scroll;
    border-radius: 24px;
    border: solid 2px #FFFFFF;
    padding: 20px 10px 20px 20px;

    background: url(../img/bg_container.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* - - - - - || GENERATED TASK || - - - - - */
.task
{
    width: 100%;
    display: flex;
    padding: 10px;
    color: #212121;
    font-weight: 700;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 20px;
    background: #FFFFFF;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.task span
{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.task i
{
    cursor: pointer;
}

.task span p
{
    margin: 0 0 0 15px;
}

/* Generated time */
.task_time
{
    font-size: 14px;
    font-weight: lighter;
    color: rgb(33, 33, 33, .5);
}

/* - - - - - || CHECKED TASK || - - - - - */
.checked_task
{
    width: 100%;
    display: flex;
    padding: 10px;
    color: #212121;
    font-weight: 700;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 20px;
    background: #CFFF46;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.checked_task i
{
    cursor: pointer;
}

/* - - - - - || SCROLLBAR || - - - - - */
::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-thumb
{
    background: #888;
}

::-webkit-scrollbar-thumb:hover
{
    background: #555;
}

/* - - - - - - - - - - || RESPONSIVE BREAKPOINTS || - - - - - - - - - - */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
{

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)
{
    /* Green paint */
    .main_img
    {
        width: 50%;
    }

    /* White block */
    .about_block
    {
        width: 90%;
    }

    /* Black block */
    .task_block
    {
        width: 90%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{
    /* - - - - - || STATUS || - - - - - */
    .status_block
    {
        width: 48%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{
    /* - - - - - || STATUS || - - - - - */
    .status_block
    {
        width: 48%;
    }
}